body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #212529;
 
}
.navbar{
    width: auto;
height: 66px;
background-color: black;
padding-right: 30px;


}

.navbar .btn{
    box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-top: 5px;
padding: 12px 26px;
float: right;
width: 121px;
height: 54px;
background: #FFB742;
border: 2px solid #FFB742;
border-radius: 50px;

}
.navbarrow{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.navbar .menu{

padding: 10px;
gap: 20px;


width: auto;
height: auto;


}
.navbar .a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration:none;
    font-size: 15px;
}
.a:hover{
    color: greenyellow;

}
 .a.active{

    color: #FFB742;
 }


.navbar .navıco{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 12px;
    gap: 5px;
    background-repeat: no-repeat;
float: left;
    width: 100px;
    height: 66px;
   background-image:  url("img/Frame.png"); 
}
.profalan{
    width: 100%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;


}
.profrow{
    
    flex-direction:column;
    justify-content: center; 
}
.profalan .prof{
     width: 100%;

}

.ısımalan{
     width:100%;
margin-left: auto;
margin-right: auto;
display: flex;
flex-wrap: wrap;
justify-content: center; 
color: #FFFFFF;
text-align: center;
align-items: center;
    font-size: 20px;
    color: white;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
}
.ünvanalan{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
align-items: center;
text-align: center;

font-family: 'Inter';
font-style: normal;
align-items: center;
text-align: center;
font-weight: 700;
font-size: 48px;
line-height: 91px;
color: #FFFFFF;
}
.acıklamanalan{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
align-items: center;
text-align: center;
color: #FFFFFF;
font-size: 15px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
margin-bottom: 10px;
}



.avataralan{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
align-items: center;
text-align: center;



}
.avatar{
 width: 210px;
height: 222px;
background-image:  url("img/avatar.png");
background-repeat:no-repeat;

}
.meter{
    /* width: auto;
height: 120px;

background-color: re;
gap: 10%;
display: flex;
margin: 0px 10%;
background-color: red; */
margin-left: auto;
margin-right: auto;
width: 100%;
max-width: 1324px;
}
.meterrow{
    display: flex;
    flex-wrap: wrap;
}
.metergrp1{
    width: 416px;
    height: 120px;
    text-align: center;
    align-items: center;
    margin-left: 10px;
    background: rgba(56, 62, 69, 0.44);
    border-radius: 20px;
float: left;
}

.sagok{
    width: 20px;
    height: 20px;
    float: right;
    margin:15% 5%;
background-image:  url("img/sagok.png");
background-repeat: no-repeat;
}

.metericerik{
    width: 159px;
height: 70px;
float: right;
margin-right: 10%;


}
.meterdeger{
    color: #FFB742;
 padding: 0px;
 width: 100%;
 font-size: 35px;
 text-align: center;
 align-items: center;
 height: 30px;
 margin: 0px;
 padding: 0;
 margin: 15% 10%;
 
 margin-bottom: 10px;
}
.meterdeger2{
    color:white;
 padding: 0px;
 width: 100%;
 font-size: 17px;
 text-align: center;
 align-items: center;

 height: 30px;
 margin: 0px;
 padding: 0;

}
.bsrbelge{
    margin:7% 10%;
    width: 64px;
height: 64px;
background-image:  url("img/Ellipse.png");
padding: 6px;
background-repeat: no-repeat;
}
.amlem1{
    
    width: 40px;
height: 40px;
    background-image:  url("img/amlem1.png");
    margin:8% 10%;

}
.amlem2{
    
    width: 40px;
height: 40px;

    background-image:  url("img/check-mark.png");
    margin:8% 10%;

}
.amlem3{
    
    width: 40px;
height: 40px;

    background-image:  url("img/happy.png");
    margin:8% 10%;

}

.aboutme{
    width: 100%;
margin-left: auto;
margin-right: auto;

display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 100px;
margin-bottom: 100px;

}

.aboutme .aboutresim{
    width: 620px;
height: 596px;
margin-right: 100px;
float: left;
background-image:  url("img/aboutme.png");
float: left;
display: flex;
flex-wrap: wrap;
}


.aboutme .aboutmeacıklama{
    width: 682px;
height: auto;

margin-bottom: 10px;
margin-right: 10px;
}
 .bnq{


padding: 6px 25px;
gap: 10px;
width: 148px;
height: 42px;
text-align: center;
align-items: center;
background: rgba(255, 255, 255, 0.08);
border-radius: 50px;
margin-bottom: 10px;
     display: flex;
}
.bnq .bnqmetin{
 
margin-left: 15%;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
text-transform: uppercase;
color: #FFB742;
}
 .bnqbaslık{

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 48px;
float: left;
color: #FFFFFF;
margin-bottom: 10px;
}
.aboutmeacıklama .aboutmemetın{
    float: left;
   
    margin-top: 10px;
   
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #D5D5D5;
}
 .aboutmebtn{
    float: left;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 26px;
width: 148px;
height: 54px;
border: 0px;

background: #FFB742;
border-radius: 50px;
/*              */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 30px;

display: flex;
align-items: center;
text-align: center;

color: #212529;


}
.diller{
    width: 100½;
    margin-left: auto;
    margin-right: auto;
    margin: 0px 10%;
 display: flex;
 flex-wrap: wrap;



}
.diller .dd{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

margin-left: auto;
margin-right: auto;


}

.dilyazıalan .dilbaslık{
width: 100%;
float: left;
max-width: 500px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 56px;
margin-bottom: 15px;
color: #FFFFFF;
}
.dilyazıalan .dilacıklamaalan{
   
    float: left;
 margin-bottom: 15px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;

}
.dd .dilyazıalan{
width: 50%;
margin-top: 10px;


}
.dd .dilrsm{
    width: 560px;
height: 176px;
float: right;
margin-bottom: 15px;

}
.dilrsm .dilrsmkucuk{
    margin-left: 10px;
    margin-bottom: 10px; 
   
   display: flex;
   float: right;
flex-wrap: wrap;
    width: 80px;
    height: 80px;
    text-align: center;
    align-items: center;
    background: rgba(56, 62, 69, 0.44);
    
    
    border-radius: 10px;
}
.dilrsmkucuk .resim{
    background-repeat: no-repeat;
    margin: 20%;
  
}

.resimler{

    width: 100%;
margin-top: 50px;

max-width: 1324px;

margin-left: auto;
margin-right: auto;

}

.resimler .rsmacıklama{

display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 10px;
margin-bottom: 10px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 48px;
width: 100%;

color: #FFFFFF;
}

.resimler .rsmmenu{

    width: 100%;
    display: flex;
   flex-wrap: wrap;
   justify-content: center;

margin-left: auto;
margin-right: auto;


}
.rsmmenu .all{
    display: flex;
    flex-direction: row;

    padding: 0px 10px;

margin: 0px 10px;
    width: 61px;
    height: 40px;
   
float: left;
    text-align: center;
    align-items: center;
    background: #FFB742;
    border-radius: 3px;






font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 30px;
color: #212529;

}

.rsmmenu .Mobile_App{


padding: 0px 10px;

text-align: center;
align-items: center;
text-decoration: none;
float: left;
width: 132px;
height: 40px;

border-radius: 3px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 30px;
color: white;
}

.rsmmenu .Website_Development{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 10px;

text-align: center;
align-items: center;
text-decoration: none;
float: left;
width: 220px;
height: 40px;

border-radius: 3px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 30px;
color: white;

}

.rsmmenu .Website_Design{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 10px;
 
    text-align: center;
    align-items: center;
    text-decoration: none;
    float: left;
    width: 167px;
    height: 40px;
    
    border-radius: 3px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: white;

}
.resimler .resımalt{

    margin-left: auto;
margin-right: auto;
width: 100%;
max-width: 1324px;
margin-top: 20px;
display: flex;

justify-content: center;
align-items:flex-start;




 
 
}

.resımalt .resımalt1{
    box-sizing: border-box;
 
    display: flex;

    justify-content: center;
    align-items:flex-start;
    width: 100%;
    max-width: 390px;
    height: 495.71px;
 margin-right: 20px;
      

   
    border-radius: 5.2735px;
    background-image:  url("img/Cover.png");
}
.resımalt .resımalt2{
    margin-right: 20px;
    
    width: 100%;
    max-width: 390px;
height: 292.68px;
display: flex;

justify-content: center;


background-image:   url("img/framee.png");

border-radius: 5.2735px;
}

 .resımalt3{
    width: 100%;
    max-width: 390px;
height: 495.71px;
display: flex;

justify-content: center;
align-items:flex-start;

margin-right: 20px;
background-image:   url("img/wd3.png");
border-radius: 5.2735px;

}
.resımalt .resımalt4{
    width: 100%;
    max-width: 390px;
height: 292.5px;
margin-top: 20px;
margin-right: 20px;

border-radius: 5.27027px;
background-image:  url("img/frameee.png");
display: flex;
float: left;
}
.resımalt .resımalt5{
    width: 100%;
    max-width: 390px;
height: 495.41px;

margin-top: -185px;
margin-right: 20px;
background-image:   url("img/wd2.png");
border-radius: 5.27027px;
}

.resımalt .resımalt6{
    box-sizing: border-box;
margin-top: 20px;
    margin-right: 20px;
    width: 100%;
    max-width: 390px;
height: 291.97px;

background-image:   url("img/Homepage1.png");
border-radius: 5.27027px;
}
/*-------------------------------------------------*/

.resımalt .resımalt1-2{
    box-sizing: border-box;
    display:flex;
    float: left;
margin-right: 20px;

    width: 390.24px;
    height: 495.71px;
 
    display: flex;    
 

    border-radius: 5.2735px;

}

.resımalt .resımalt2-2{
    margin-right: 20px;
    display:flex;
    float: left;
width: 390.24px;
height: 292.68px;
left: 524.88px;
top: 2488px;
border-radius: 5.2735px;
}



 .resımalt3-2{
    width: 390.24px;
height: 495.71px;

margin-right: 20px;

border-radius: 5.2735px;
float: left;
}
.resımalt .resımalt4-2{
    width: 390px;
height: 292.5px;
margin-top: 20px;
margin-right: 20px;

border-radius: 5.27027px;

display: flex;
float: left;
}
.resımalt .resımalt5-2{
    width: 390px;
height: 495.41px;
display: flex;
float: left;
margin-top: -185px;
margin-right: 20px;

border-radius: 5.27027px;



border-radius: 5.27027px;
}

.resımalt .resımalt6-2{
    box-sizing: border-box;
margin-top: 20px;
    margin-right: 20px;
width: 390px;
height: 291.97px;
display: flex;
float: left;

border-radius: 5.27027px;
}

/*-------------------------------------------------*/
/* desing */

.resımalt .resımalt1-3{
    box-sizing: border-box;
    display:flex;
    float: left;
margin-right: 20px;

    width: 390.24px;
    height: 292px;
 
    display: flex;    
 
    background-image:   url("img/framee.png");
    border-radius: 5.2735px;

}



.resımalt .resımalt2-3{
    width: 390px;
height: 495.41px;
display: flex;
float: left;

margin-right: 20px;
background-image:   url("img/wd2.png");
border-radius: 5.27027px;
}

.resımalt3-3{
    width: 390.24px;
height: 292.5px;
margin-right: 20px;

border-radius: 5.27027px;
background-image:  url("img/frameee.png");
display: flex;
float: left;
}

/*----------------------------------------*/
/*   dev  */

.resımalt .resımalt1-4{
    box-sizing: border-box;
    display:flex;
    float: left;
margin-right: 20px;

    width: 390.24px;
    height: 495.71px;
 
    display: flex;    
    background: #DFF898;
    border: 0.2439px solid #000000;
    border-radius: 5.2735px;
    background-image:  url("img/wd3.png");
}
.resımalt .resımalt2-4{
    margin-right: 20px;
    display:flex;
    float: left;
width: 390.24px;
height: 292.68px;

background-image:   url("img/Homepage1.png");

border-radius: 5.2735px;
}





/* -----------------------*/
.yorumalan{
    /* width: 100%;

margin-left: auto;
margin-right: auto;
margin: 0px 15%;
max-width: 1324px;
margin-top: 100px;
margin-bottom: 100px;
display: flex;
flex-wrap: wrap;
justify-content: center;
background-color: red;
float: left; */
margin-left: auto;
margin-right: auto;
width: 100%;

max-width: 1324px;
margin-top: 150px;
display: flex;
flex-wrap: wrap;
justify-content: center;

}
.yorumust{
    margin-left: auto;
margin-right: auto;
width: 100%;
height: 150px;
max-width: 1324px;
display: flex;

justify-content: center;

}
.baslık{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 39px;
line-height: 46px;
text-align: center;
text-transform: capitalize;

color: #FFFFFF;
}
.yorumlar{
    width: 100%;
    display: flex;
    max-width: 1324px;
    flex-wrap: wrap;
    justify-content: center;


}
.yorumgrp1{
    width: 100%;
    max-width: 378.91px;
height: 443.55px;
margin-left: 10px;
background-image:  url("img/yorum.png");
border-radius: 15px;
}
.yorumgrp2{
    width: 100%;
    max-width: 378.91px;
height: 443.55px;
margin-left: 10px;
background-image:  url("img/ttt.png");
border-radius: 15px;
}
.yorumalt{
    width: 100%;
    display: flex;
    max-width: 1324px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px    ;
}
 .yorumgecıs{
    width: 49px;

border-radius: 9px;
border: 5px solid #FFB742;
 float: left;

}

 .yorumgecıs2{
    width: 20px;

float: left;
border-radius: 9px;
border: 5px solid #BB842C;
background-color: #000000;

}


 .yorumgecıs-1{
    width: 20px;
border-radius: 9px;
border: 5px solid #BB842C;

 float: right;
 background-color: #000000;
}

 .yorumgecıs2-1{
    width: 49px;

float: right;
border-radius: 9px;
border: 5px solid #FFB742;


}




.footeralan{
    width: auto;
    height: 500px;
   
    margin-top: 10%;
}
.footeralan .footerıcerık{
    width: 100%;
height: 400px;

float: left;


background-color: black;
}

.footerıcerık .fgrp1{
    width: 319px;
height: 208px;

margin-right: 10%;
margin-top: 5%;
float: right;
}
.fgrp1 .fgrp1-1{
width: 319;
height: 63px;

margin-top: 10%;

}
.fgrp1-1 .fbtn{
    width: 64px;
    height: 63px;
    float: right;
background: #FFB742;
border-radius: 48px;
border: 0px;
}

.fgrp1-1 .textalan{
    background: #212529;
border-radius: 49px;
height: 63px; 
width: 319px;

}
.textalan .textbox{
    width: 75%;
    height: 24px;
    padding: 10px;
    background: transparent;
    outline: 0;
    border: 0px;
    font-size: 15px;
    color: #7C7C7C;

    float: left;

    margin: 20px 0px 10px 2%;
}

.fgrp1-1 .fyz{
    width: 319px;
height: 114px;
}
.fyz .fyz-1{

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 32px;
color: #F5FBF2;
}
.fyz .fyz-2{

font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 17.9888px;
line-height: 36px;
color: #7B7B7B;
}
.footerıcerık .fgrp2{
    width: 143.46px;
height: 232.57px;

margin-right: 10%;
margin-top: 5%;
float: right;

}
.fgrp2 .fbsk{


font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 21.5865px;
line-height: 32px;
color: #F5FBF2;
}
.fgrp2 .fkon{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 17.9888px;
line-height: 36px;
color: #7B7B7B;
}
.footerıcerık .fgrp3{
width: 253.16px;
height: 129.62px;
margin-right: 10%;
margin-top: 5%;
float: right;
}
.fgrp3 .fbs{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 100%;
color: #FFB742;
}
 .footer2{
     margin-left: auto;
     margin-right: auto;
     margin-top: -80px;
     width: 100%;
    max-width: 1116px;
height: 175px;
background: #FFB742;
border-radius: 15px;
}
.footer2 .kn{
    width: 360px;
    height: 60px;
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
text-align: center;
color: #000000;
}
.footer2 .k-1{
 float: left;
 margin-left: 5%;
 margin-top: 5%;
    font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 34.6667px;
line-height: 53px;

color: #000000;
}