body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #212529;
 
}
.container{
    width: 100%;

}
.navbar{
   


padding-right: 30px;


}

.navbar .btn{
    box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-top: 5px;
padding: 12px 26px;
float: right;
width: 121px;
height: 54px;
background: #FFB742;
border: 2px solid #FFB742;
border-radius: 50px;

}

.btn:hover{
    background-color: #000000;
    color: white;
    
}
.aboutmebtn:hover{
    background-color: #000000;
    color: white;
    border: 2px solid #FFB742;
}
.navbarrow{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    
}
.navbar .menu{

padding: 10px;
gap: 20px;


width: auto;
height: auto;


}
.navbar .a{
    font-family: 'Poppins';
font-style: normal;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration:none;
    font-size: 15px;
}
.a:hover{
    color: greenyellow;

}
 .a.active{

    color: #FFB742;
 }


.navbar .navıco{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 12px;
    gap: 5px;
    background-repeat: no-repeat;
float: left;
    width: 100px;
    height: 66px;
   background-image:   url("Frame.png"); 
}
.profalan{

margin-left: auto;
margin-right: auto;
margin-top: 100px;


}
.profrow{
    
    flex-direction:column;
    justify-content: center; 
}

.ısımalan{
     width:100%;
margin-left: auto;
margin-right: auto;
display: flex;
flex-wrap: wrap;
justify-content: center; 
color: #FFFFFF;
text-align: center;
align-items: center;
    font-size: 20px;
    color: white;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
}
.ısımrenk{
    color: #BB842C;
}
.ünvanalan{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
align-items: center;
text-align: center;

font-family: 'Inter';
font-style: normal;
align-items: center;
text-align: center;
font-weight: 700;
font-size: 48px;
line-height: 91px;
color: #FFFFFF;
}
.acıklamanalan{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
align-items: center;
text-align: center;
color: #FFFFFF;
font-size: 15px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
margin-bottom: 10px;
}



.avataralan{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
align-items: center;
text-align: center;



}
.avatar{
 width: 210px;
height: 222px;
background-image:   url("avatar.png");
background-repeat:no-repeat;

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 10px;
 

  }
  
    .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);

    text-align: center;
    font-size: 30px;
  }
.meter{
    /* width: auto;
height: 120px;

background-color: re;
gap: 10%;
display: flex;
margin: 0px 10%;
background-color: red; */
margin-left: auto;
margin-right: auto;
max-width: 1324px;
}


.meterrow{
    display: flex;
    flex-wrap: wrap;
  

}
.col{
  
    width: 25%;
    height: 100%;


}
.col-2{
  
    width: 5%;
    height: 100%;





}
.col-6{
 
    width: 60%;
    margin-left: 2%;
    margin-right: 3%;
}
.metergrp1{
    width: 32%;
    height: 100%;
    text-align: center;
    align-items: center;
    margin-left: 10px;
    background: rgba(56, 62, 69, 0.44);
    border-radius: 20px;
float: left;
}

.sagokalan{
    width: 100%;
    height: 100%;
 
    margin-top: 250%;
}

.sagok{
 


background-image:   url("sagok.png");

background-repeat: no-repeat;

}

.metericerik{
    width: 100%;

height: 100%;
float: right;



}
.meterdeger{
    color: #FFB742;
 padding: 0px;

 font-size: 35px;
 text-align: center;
 align-items: center;


 padding: 0;
 margin: 10% 0%;
 
 margin-bottom: 10px;
}
.meterdeger2{
    color:white;
 font-size: 17px;
 text-align: center;
 align-items: center;


}

.bsrbelge{
    width: 70%;
    height: 100%;
    margin:25%;
    
background-image:   url("Ellipse.png");
padding: 10px;


background-repeat: no-repeat;
}
.amlem1{
    
    width: 40px;
height: 40px;
    background-image:   url("amlem1.png");
    margin:  4%;

}
.amlem2{
    
    width: 40px;
height: 40px;

    background-image:   url("check-mark.png");
    margin:  4%;

}
.amlem3{
    
    width: 40px;
height: 40px;

    background-image:   url("happy.png");
    margin:  4%;

}

.aboutme{
margin-top: 100px;
margin-bottom: 100px;
margin-left: auto;
margin-right: auto;
max-width: 1324px;
}
.aboutmerow{
    width: 100%;
display: flex;
flex-wrap: wrap;
}

.aboutmerow .col{
    width: 50%;
}


.aboutresim{
    height: auto;
}
@media (max-width: 1200px){
    .aboutmerow .col{
        width: 100%;
    }
    .aboutme{
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1324px;
       
        }
}
.abutalan{
    width: 100%;
    height: 100%;
 
    
}

 .aboutmeacıklama{
    width: 100%;
height: 100%;
margin-top: 15%;
}

 .bnq{

margin-top: 10px;
padding: 6px 25px;
gap: 10px;
width: 148px;
height: 42px;
text-align: center;
align-items: center;
background: rgba(255, 255, 255, 0.08);
border-radius: 50px;
margin-bottom: 10px;
     display: flex;
}
.bnq .bnqmetin{
 
margin-left: 15%;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
text-transform: uppercase;
color: #FFB742;
}
 .bnqbaslık{

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 48px;
float: left;
color: #FFFFFF;
margin-bottom: 10px;
}
.aboutmeacıklama .aboutmemetın{
    float: left;
   
    margin-top: 10px;
   
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #D5D5D5;
}
 .aboutmebtn{
    float: left;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 26px;
width: 148px;
height: 54px;
border: 0px;

background: #FFB742;
border-radius: 50px;
/*              */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 30px;

display: flex;
align-items: center;
text-align: center;

color: #212529;


}
.diller{
    width: 100½;
    margin-left: auto;
    margin-right: auto;
    margin: 0px 10%;
 display: flex;
 flex-wrap: wrap;



}
.diller .dd{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

margin-left: auto;
margin-right: auto;


}

.dilyazıalan .dilbaslık{
width: 100%;
float: left;
max-width: 500px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 56px;
margin-bottom: 15px;
color: #FFFFFF;
}
.dilyazıalan .dilacıklamaalan{
   
    float: left;
 margin-bottom: 15px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;

}
.dd .dilyazıalan{
width: 50%;
margin-top: 10px;


}
.dd .dilrsm{
    width: 560px;
height: 176px;
float: right;
margin-bottom: 15px;

}
.dilrsm .dilrsmkucuk{
    margin-left: 10px;
    margin-bottom: 10px; 
   
   display: flex;
   float: right;
flex-wrap: wrap;
    width: 80px;
    height: 80px;
    text-align: center;
    align-items: center;
    background: rgba(56, 62, 69, 0.44);
    
    
    border-radius: 10px;
}
.dilrsmkucuk .resim{
    background-repeat: no-repeat;
    margin: 20%;
  
}

.resimler{

    width: 100%;
margin-top: 50px;
margin-bottom: 100px;
max-width: 1324px;

margin-left: auto;
margin-right: auto;

}

.resimler .rsmacıklama{

display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 10px;
margin-bottom: 10px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 48px;
width: 100%;

color: #FFFFFF;
}

.resimler .rsmmenu{

    width: 100%;
    display: flex;
   flex-wrap: wrap;
   justify-content: center;

margin-left: auto;
margin-right: auto;


}
.rsmmenu .all{
    display: flex;
    flex-direction: row;

    padding: 0px 10px;

margin: 0px 10px;
    width: 80px;
    height: 40px;
   
float: left;
    text-align: center;
    align-items: center;
    background: #FFB742;
    border-radius: 3px;






font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 30px;
color: #212529;

}

.rsmmenu .Mobile_App{


padding: 0px 10px;

text-align: center;
align-items: center;
text-decoration: none;
float: left;
width: 132px;
height: 40px;

border-radius: 3px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 30px;
color: white;
}

.rsmmenu .Website_Development{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 10px;

text-align: center;
align-items: center;
text-decoration: none;
float: left;
width: 220px;
height: 40px;

border-radius: 3px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 30px;
color: white;

}

.rsmmenu .Website_Design{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 10px;
 
    text-align: center;
    align-items: center;
    text-decoration: none;
    float: left;
    width: 167px;
    height: 40px;
    
    border-radius: 3px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: white;

}
.resimler .resımalt{

    margin-left: auto;
margin-right: auto;
width: 100%;
max-width: 1324px;
margin-top: 20px;
display: flex;

justify-content: center;
align-items:flex-start;




 
 
}

.resımalt .resımalt1{
    box-sizing: border-box;
 
    display: flex;

    justify-content: center;
    align-items:flex-start;
    width: 100%;
    max-width: 390px;
    height: 495.71px;
 margin-right: 20px;
      

   
    border-radius: 5.2735px;
    background-image:   url("Cover.png");
}
.resımalt .resımalt2{
    margin-right: 20px;
    
    width: 100%;
    max-width: 390px;
height: 292.68px;
display: flex;

justify-content: center;


background-image:    url("framee.png");

border-radius: 5.2735px;
}

 .resımalt3{
    width: 100%;
    max-width: 390px;
height: 495.71px;
display: flex;

justify-content: center;
align-items:flex-start;

margin-right: 20px;
background-image:    url("wd3.png");
border-radius: 5.2735px;

}
.resımalt .resımalt4{
    width: 100%;
    max-width: 390px;
height: 292.5px;
margin-top: 20px;
margin-right: 20px;

border-radius: 5.27027px;
background-image:   url("frameee.png");
display: flex;
float: left;
}
.resımalt .resımalt5{
    width: 100%;
    max-width: 390px;
height: 495.41px;

margin-top: -185px;
margin-right: 20px;
background-image:    url("wd2.png");
border-radius: 5.27027px;
}

.resımalt .resımalt6{
    box-sizing: border-box;
margin-top: 20px;
    margin-right: 20px;
    width: 100%;
    max-width: 390px;
height: 291.97px;

background-image:    url("Homepage1.png");
border-radius: 5.27027px;
}
/*-------------------------------------------------*/

.resımalt .resımalt1-2{
    box-sizing: border-box;
    display:flex;
    float: left;
margin-right: 20px;

    width: 390.24px;
    height: 495.71px;
 
    display: flex;    
 

    border-radius: 5.2735px;

}

.resımalt .resımalt2-2{
    margin-right: 20px;
    display:flex;
    float: left;
width: 390.24px;
height: 292.68px;
left: 524.88px;
top: 2488px;
border-radius: 5.2735px;
}



 .resımalt3-2{
    width: 390.24px;
height: 495.71px;

margin-right: 20px;

border-radius: 5.2735px;
float: left;
}
.resımalt .resımalt4-2{
    width: 390px;
height: 292.5px;
margin-top: 20px;
margin-right: 20px;

border-radius: 5.27027px;

display: flex;
float: left;
}
.resımalt .resımalt5-2{
    width: 390px;
height: 495.41px;
display: flex;
float: left;
margin-top: -185px;
margin-right: 20px;

border-radius: 5.27027px;



border-radius: 5.27027px;
}

.resımalt .resımalt6-2{
    box-sizing: border-box;
margin-top: 20px;
    margin-right: 20px;
width: 390px;
height: 291.97px;
display: flex;
float: left;

border-radius: 5.27027px;
}

/*-------------------------------------------------*/
/* desing */

.resımalt .resımalt1-3{
    box-sizing: border-box;
    display:flex;
    float: left;
margin-right: 20px;

    width: 390.24px;
    height: 292px;
 
    display: flex;    
 
    background-image:    url("framee.png");
    border-radius: 5.2735px;

}



.resımalt .resımalt2-3{
    width: 390px;
height: 495.41px;
display: flex;
float: left;

margin-right: 20px;
background-image:    url("wd2.png");
border-radius: 5.27027px;
}

.resımalt3-3{
    width: 390.24px;
height: 292.5px;
margin-right: 20px;

border-radius: 5.27027px;
background-image:   url("frameee.png");
display: flex;
float: left;
}

/*----------------------------------------*/
/*   dev  */

.resımalt .resımalt1-4{
    box-sizing: border-box;
    display:flex;
    float: left;
margin-right: 20px;

    width: 390.24px;
    height: 495.71px;
 
    display: flex;    
    background: #DFF898;
    border: 0.2439px solid #000000;
    border-radius: 5.2735px;
    background-image:   url("wd3.png");
}
.resımalt .resımalt2-4{
    margin-right: 20px;
    display:flex;
    float: left;
width: 390.24px;
height: 292.68px;

background-image:    url("Homepage1.png");

border-radius: 5.2735px;
}





/* -----------------------*/
.yorumalan{
    /* width: 100%;

margin-left: auto;
margin-right: auto;
margin: 0px 15%;
max-width: 1324px;
margin-top: 100px;
margin-bottom: 100px;
display: flex;
flex-wrap: wrap;
justify-content: center;
background-color: red;
float: left; */
margin-left: auto;
margin-right: auto;
width: 100%;

max-width: 1324px;
margin-top: 150px;
display: flex;
flex-wrap: wrap;
justify-content: center;

}
.yorumust{
    margin-left: auto;
margin-right: auto;
width: 100%;
height: 150px;
max-width: 1324px;
display: flex;

justify-content: center;

}
.baslık{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 39px;
line-height: 46px;
text-align: center;
text-transform: capitalize;

color: #FFFFFF;
}
.yorumlar{
    width: 100%;
    display: flex;
    max-width: 1324px;
    flex-wrap: wrap;
    justify-content: center;
  

}

@media (max-width:1200px){
  
    .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
        
}


.swiper {
    width: 100%;
    height: 100%;

  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }










.yorumgrp1{
    width: 100%;
    max-width: 378.91px;
height: 443.55px;
margin-left: 10px;
background-image:   url("yorum.png");
border-radius: 15px;
}
.yorumgrp2{
    width: 100%;
    max-width: 378.91px;
height: 443.55px;
margin-left: 10px;
background-image:   url("ttt.png");
border-radius: 15px;
}
.yorumalt{
    width: 100%;
    display: flex;
    max-width: 1324px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px    ;
}
 .yorumgecıs{
    width: 49px;

border-radius: 9px;
border: 5px solid #FFB742;
 float: left;

}

 .yorumgecıs2{
    width: 20px;

float: left;
border-radius: 9px;
border: 5px solid #BB842C;
background-color: #000000;

}


 .yorumgecıs-1{
    width: 20px;
border-radius: 9px;
border: 5px solid #BB842C;

 float: right;
 background-color: #000000;
}

 .yorumgecıs2-1{
    width: 49px;

float: right;
border-radius: 9px;
border: 5px solid #FFB742;


}




.footeralan{
    width: 100%;
    
    background-color: black;
    margin-top: 10%;
   
}
.footeralan .footerıcerık{
    width: 100%;



    background-color: #212529;

}
.footerıcerık2{
    width: 100%;
    

    margin-top: 5%;
   
}
.footerıcerık2 .altrow{
    display: flex;
    flex-wrap: wrap;


  width: 100%;
    
}
.footerıcerık2 .col{
    width: 20%;
    margin-top: 5%;
    margin-left: 2%;
    height: auto;
    justify-content: center;
margin-bottom: 5%;
}
.footerıcerık2 .col-6{
    width: 30%;
    margin-top: 5%;
    margin-right: 0;
    height: auto;
    float: right;
    
}
.footerıcerık2 .fgrp1{
    width: auto;
    max-width: 320px;
    
    margin-left: auto;
    margin-right: auto;

}
.fgrp1 .fgrp1-1{
width: 100%;


margin-top: 10%;

}
.fgrp1-1 .fbtn{
    width: 64px;
    height: 63px;
    float: right;
background: #FFB742;
border-radius: 48px;
border: 0px;
}

.fgrp1-1 .textalan{
    background: #212529;
border-radius: 49px;
height: 63px;
width: 100%;
max-width: 319px;

}
.textalan .textbox{
    width: 75%;

    padding: 5px;
    background: transparent;
    outline: 0;
    border: 0px;
    font-size: 15px;
    color: #7C7C7C;

    float: left;

    margin: 20px 0px 10px 2%;
}

.fgrp1-1 .fyz{
    width: 319px;
height: 114px;
}
.fyz .fyz-1{

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 32px;
color: #F5FBF2;
}
.fyz .fyz-2{

font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 17.9888px;
line-height: 36px;
color: #7B7B7B;
}
.footerıcerık2 .fgrp2{
    width: 100%;
    max-width: 143px;
margin-left: auto;
margin-right: auto;


}
.fgrp2 .fbsk{


font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 21.5865px;
line-height: 32px;
color: #F5FBF2;
}
.fgrp2 .fkon{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 17.9888px;
line-height: 36px;
color: #7B7B7B;
}
.footerıcerık2 .fgrp3{
width: auto;
   max-width: 253px;

margin-left: auto;
margin-right: auto;
}
.fgrp3 .fbs{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 100%;
color: #FFB742;
}
 .footer2{
     margin-left: auto;
     margin-right: auto;
     margin-top: -80px;
     width: 100%;
    max-width: 1116px;
height: 175px;
background: #FFB742;
border-radius: 15px;
}
.foabsoluteresimleroter2 .kn{
    width: 360px;
    height: 60px;
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
text-align: center;
color: #000000;
}
.footer2 .k-1{
 float: left;
 margin-left: 5%;
 margin-top: 5%;
    font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 34.6667px;
line-height: 53px;

color: #000000;
}

.modal {
    display: none; /* Hidden by default */
  /*  position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
  
    width: 100%; /* Full width */
    height: 100%; /* Full height */
      
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }